body{
    font-family: "Lato", sans-serif;
    padding: 10px;
    margin-bottom: 40;
}

.header{
    background-color: rgb(240, 191, 67);
    background-image: url("images/4-uwm-hero.jpg");
    padding-bottom: 420px;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.page-links{
    list-style-type: none;
}

.footer{
    background-color: rgb(248, 231, 173);
    padding: 30px;
    margin-left: 0;
    padding-left: 0;
}