html{
    background-image: url("images/1-big-viburnum.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.background-color{
    background-color: bisque;
    border-left-color: orange;
    border-left-width: 8px;
    border-left-style: solid;

    border-right-color: orange;
    border-right-width: 8px;
    border-right-style: solid;

    padding: 20px;
}

.header{
    background-color:rgba(245, 245, 245, 70%);
    border-style: solid;
    border-color: green;
    margin-top: 20px;
}   

.footer{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}