html{
    background-image: url("images/1-big-viburnum.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header{
    background-color:rgba(245, 245, 245, 70%);
    border-style: solid;
    border-color: green;
    margin-top: 20px;
    padding-left: 20px;
}   

.footer{
    padding: 10px;
    margin: 10px;
}
