html{
    background-image: url("images/2-square-tile.gif");
    background-attachment: fixed;
    background-position: center center;
}

body{
    font-family: "Montserrat", sans-serif;
}

.header{
    background-color: bisque;
    border-left-color: orange;
    border-left-width: 8px;
    border-left-style: solid;

    border-right-color: orange;
    border-right-width: 8px;
    border-right-style: solid;
    padding-left: 20px;
    padding: 20px;
}

.footer{
    background-color: rgb(251, 242, 231);
    padding: 10px;
}

.main{
    margin-top: 10px;
}

.page-links{
    list-style-type: none;
    padding-left: 0;
    list-style-position: inside;
}