html{
    background-image: url("images/1-big-viburnum.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body{
    font-family: "Montserrat", sans-serif;
}

.main{
    margin-top: 10px;
}

.header{
    background-color:rgba(245, 245, 245, 70%);
    border-style: solid;
    border-color: green;
    margin-top: 20px;
    padding-left: 20px;
}   

.footer{
    padding: 10px;
    margin: 10px;
}

.page-links{
    list-style-type: none;
    padding-left: 0;
    list-style-position: inside;
}
